[package]
name = "runtime"
version = "0.1.0"
edition = "2024"

[dependencies]
commonware-runtime = "2026.2.0"
rand = "0.9.2"
tokio = { version = "1.49.0", features = ["rt-multi-thread", "time", "macros"] }
